# SF Salaries Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import numpy as np
import pandas as pd

**Read Salaries.csv as a dataframe**

In [5]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("kaggle/sf-salaries")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/sf-salaries

In [6]:
df = pd.read_csv(os.path.join(path, "Salaries.csv"))

/tmp/ipython-input-6-4130781897.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, "Salaries.csv"))

**Check the head of the DataFrame.**

In [7]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [12]:
tmap={'Not Provided':np.nan}
df['Benefits']=df['Benefits'].map(tmap)

**Use the .describe() method to get some statistics for the data**

In [13]:
df['BasePay']=pd.to_numeric(df['BasePay'],errors='coerce')
df['OvertimePay']=pd.to_numeric(df['OvertimePay'],errors='coerce')
df['OtherPay']=pd.to_numeric(df['OtherPay'],errors='coerce')
df['Benefits']=pd.to_numeric(df['Benefits'],errors='coerce')

In [14]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
count,148654.000000,148045.000000,148650.000000,148650.000000,0.0,148654.000000,148654.000000,148654.000000,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,NaN,74768.321972,93692.554811,2012.522643,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,NaN,50517.005274,62793.533483,1.117538,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,NaN,-618.130000,-618.130000,2011.000000,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,NaN,36168.995000,44065.650000,2012.000000,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,NaN,71426.610000,92404.090000,2013.000000,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,NaN,105839.135000,132876.450000,2014.000000,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,NaN,567595.430000,567595.430000,2014.000000,NaN

**What is the average BasePay ?**

In [15]:
df['BasePay'].mean()

np.float64(66325.4488404877)

**What is the highest amount of OvertimePay in the dataset ?**

In [16]:
df['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [18]:
df[df['EmployeeName']=='JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [19]:
df[df['EmployeeName']=='JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [21]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

He if getting paid a negative number, which mean either there is a problem with this employee, or the data entered with mistake

In [23]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,NaN,-618.13,-618.13,2014,NaN,San Francisco,PT

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [29]:
df['BasePay'].groupby(df['Year']).mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [30]:
df['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [31]:
df['BasePay'].groupby(df['JobTitle']).sum()

JobTitle
ACCOUNT CLERK                                     3593966.94
ACCOUNTANT                                         233215.86
ACCOUNTANT INTERN                                 1379167.87
ACPO,JuvP, Juv Prob (SFERS)                         62290.78
ACUPUNCTURIST                                       66374.40
                                                     ...
X-RAY LABORATORY AIDE                             1239284.10
X-Ray Laboratory Aide                             4608638.71
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      52609.91
Youth Comm Advisor                                 156311.83
ZOO CURATOR                                         43148.00
Name: BasePay, Length: 2159, dtype: float64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [46]:
tmp=df['EmployeeName'].groupby(df['JobTitle']).count()
tmp[tmp==tmp.min()]

JobTitle
ACPO,JuvP, Juv Prob (SFERS)                           1
ACUPUNCTURIST                                         1
ADMINISTRATOR, SFGH MEDICAL CENTER                    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI    1
AIRPORT ASSISTANT DEPUTY DIRECTOR, OPERATIONS         1
                                                     ..
WHARFINGER I                                          1
WINDOW CLEANER SUPERVISOR                             1
WIRE ROPE CABLE MAINTENANCE SUPERVISOR                1
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS        1
ZOO CURATOR                                           1
Name: EmployeeName, Length: 239, dtype: int64

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [47]:
def chief_count(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
df['JobTitle'].apply(lambda x: chief_count(x)).sum()

np.int64(627)

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [50]:
def job_title_count(title):
    return len(title)
df['title_len']=df['JobTitle'].apply(lambda x: job_title_count(x))
df[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000